<nav class="site-nav">
  <div class="logo">
   <a href="index.html"><img src="../images/Transparent_Logo.png" height="30" width="30" /></a>
  </div>
  <div class="links" role="list">
    <a href="/">Home</a>
    <a href="/Cosmology">Cosmology</a>
    <a href="/Astronomers">Astronomers</a>
    <a href="/Exploration">Exploration</a>
  </div>
</nav>