<nav class="site-nav">
  <div class="logo">
  <img src="/images/Transparent_Logo.png" alt="Transparent_Logo">

  </div>
  <div class="links" role="list">
    <a href="/">Home</a>
    <a href="/Cosmology">Cosmology</a>
    <a href="/Astronomers">Astronomers</a>
    <a href="/Exploration">Exploration</a>
  </div>
</nav>