<nav>
  <div class="links" role="list">
    <a href="/">Home</a>
    <a href="/Cosmology">Cosmology</a>
    <a href="/Astronomers">Astronomers</a>
    <a href="/Exploration">Exploration</a>
    <a href="/milkyway">Milky Way</a>
  </div>
</nav>
