nav{
  background-color: #000;
  font-family: athelas;
align-content: center;
  margin: 0 auto;
  width: 100%;

}

nav a {
  float: center;
  font-size: 24px;
 color: #FCE95F;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  height: auto;
 }
 
  @media screen and (max-width: 600px){
    .site-nav{
      justify-content:center;
    }
    .logo{
      text-align: center;
      flex-basis: 100%;
    }

    
  }
  
