/* ======================================================
   Responsive Styling and Layout
   =======================================================  */

/* ========== Use Border Box model ============ */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  /* ======== Basic Responsive Images and Video ========= */
  img,video{
    width: auto;
    height: auto;
    max-width: 100%;
  }
    @media screen and (max-width: 900px)
{
  *{
    max-width: 800px;}

h1{
    font-size: 30px;
  }
  h2{
    font-size: 28px;
  }
  h3{
    font-size: 24px;
  }
  h4{
    font-size: 20px;
  }

  p{
    font-size: 18px;
  }
  body{
      font-family: 'Roboto Mono', monospace;
      margin-left: 20px;
     margin-right:20px;
  }
  
  main{
      padding: 20px;
      margin-top: 20px;
  }
  
  .about{
   width: 100%;
   align-items: center;
  }
  
  .biogrid{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
      grid-auto-rows: auto;
      grid-gap: 20px;
      height: auto;
      max-width: 1050px;
      margin: 0 auto; 
      justify-content:center;
      padding: 30px;
  }
  .grid1{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
      grid-auto-rows: auto;
      grid-gap: 20px;
      height: auto;
      max-width: 1050px;
      margin: 0 auto; 
      justify-content:center;
      padding: 40px;
  }
  .grid2{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
      grid-auto-rows: auto;
      grid-gap: 20px;
      height: auto;
      max-width: 1050px;
      margin: 0 auto; 
      justify-content:center;
     }
  
     .grid3{
      display: grid;
   align-items: center;
   grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
     grid-gap: 20px;
      padding: 40px;
      justify-content: space-evenly;
   justify-items: center;
   align-content: space-evenly;
   align-items: center;
   }

  .grid4{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
      grid-auto-rows: auto;
      grid-gap: 20px;
      height: auto;
      max-width: 1050px;
      margin: 0 auto; 
      justify-content:center;
  }
  
  .grid5{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
      grid-auto-rows: auto;
      grid-gap: 20px;
      height: auto;
      max-width: 1050px;
      margin: 0 auto; 
      justify-content:center;
      padding: 30px;
  
  }
  
  
  
  .paragraph img{
      max-width: 367.5px;
  
  }
  
  .event{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
   grid-auto-rows: auto;
   height: auto;
   max-width: 350px;
   margin: 0 auto; 
   justify-content:center;
  }
  
  // .astronomer{
  //     display: grid;
  //     grid-template-columns: 33.333% 33.333% 33.333%;
  //     grid-auto-rows: auto;
  //     height: auto;
  //     max-width: 350px;
  //     margin: 0 auto; 
  //     justify-content:center;
  //     padding: 30px;
  // }
  
  .object{
   min-width: 350px;
      margin: 0 auto; 
      justify-content:center;
      padding: 30px;
      align-items: center;
  
  }
  
  .container{
      // border-style: solid;
      // border-radius: 10px 10px 10px 10px;
      // border-color: #fff;
       padding: 20ox;
  }
  .astrogrid{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
      grid-auto-rows: auto;
      grid-gap: 20px;
      height: auto;
      max-width: 500px;
      margin: 0 auto; 
      justify-content:center;
  }
  .astros{
      padding:30px;
      // margin: auto;
     
  }
  
  .expogrid{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
      grid-auto-rows: auto;
      grid-gap: 20px;
      height: auto;
      max-width: 1050px;
      margin: 0 auto; 
      justify-content:center;
  
  }
  
  .scientists{
      max-width: 300px;
      max-height: 300px;
      
  }}


  @media screen and (max-width: 600px)
  {
    *{
      max-width: 500px;}
      
  h1{
      font-size: 30px;
    }
    h2{
      font-size: 28px;
    }
    h3{
      font-size: 24px;
    }
    h4{
      font-size: 20px;
    }
  
    p{
      font-size: 18px;
    }
    body{
        font-family: 'Roboto Mono', monospace;
        margin-left: 20px;
       margin-right:20px;
    }
    
    main{
        padding: 20px;
        margin-top: 20px;
    }
    
    .about{
     width: 100%;
     align-items: center;
    }
    
    .biogrid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        grid-auto-rows: auto;
        grid-gap: 20px;
        height: auto;
        max-width: 1050px;
        margin: 0 auto; 
        justify-content:center;
        padding: 30px;
    }
    .grid1{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        grid-auto-rows: auto;
        grid-gap: 20px;
        height: auto;
        max-width: 1050px;
        margin: 0 auto; 
        justify-content:center;
        padding: 40px;
    }
    .grid2{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        grid-auto-rows: auto;
        grid-gap: 20px;
        height: auto;
        max-width: 1050px;
        margin: 0 auto; 
        justify-content:center;
       }
    
       .grid3{
        display: grid;
     align-items: center;
     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
       grid-gap: 20px;
        padding: 40px;
        justify-content: space-evenly;
     justify-items: center;
     align-content: space-evenly;
     align-items: center;
     }
     
    .grid4{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        grid-auto-rows: auto;
        grid-gap: 20px;
        height: auto;
        max-width: 1050px;
        margin: 0 auto; 
        justify-content:center;
    }
    
    .grid5{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        grid-auto-rows: auto;
        grid-gap: 20px;
        height: auto;
        max-width: 1050px;
        margin: 0 auto; 
        justify-content:center;
        padding: 30px;
    
    }
    
    
    
    .paragraph img{
        max-width: 367.5px;
    
    }
    
    .event{
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
     grid-auto-rows: auto;
     height: auto;
     max-width: 350px;
     margin: 0 auto; 
     justify-content:center;
    }
    
    // .astronomer{
    //     display: grid;
    //     grid-template-columns: 33.333% 33.333% 33.333%;
    //     grid-auto-rows: auto;
    //     height: auto;
    //     max-width: 350px;
    //     margin: 0 auto; 
    //     justify-content:center;
    //     padding: 30px;
    // }
    
    .object{
     min-width: 350px;
        margin: 0 auto; 
        justify-content:center;
        padding: 30px;
        align-items: center;
    
    }
    
    .container{
        // border-style: solid;
        // border-radius: 10px 10px 10px 10px;
        // border-color: #fff;
         padding: 20ox;
    }
    .astrogrid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        grid-auto-rows: auto;
        grid-gap: 20px;
        height: auto;
        max-width: 500px;
        margin: 0 auto; 
        justify-content:center;
    }
    .astros{
        padding:30px;
        // margin: auto;
       
    }
    
    .expogrid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        grid-auto-rows: auto;
        grid-gap: 20px;
        height: auto;
        max-width: 1050px;
        margin: 0 auto; 
        justify-content:center;
    
    }
    
    .scientists{
        max-width: 300px;
        max-height: 300px;
        
    }}