/* ======================================================
   Responsive Styling and Layout
   =======================================================  */

/* ========== Use Border Box model ============ */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  /* ======== Basic Responsive Images and Video ========= */
  img,video{
    width: auto;
    height: auto;
    max-width: 100%;
  }

//   The figure element adds margin around it. This removes the default margins (most people dont' expect or want them)
//   add them back in as needed or wanted
  figure{
      margin: 0;
  }
  
  /* ======== Responsive Embedded Video ================= */
  /* to use this add a div with class videoWrapper around the iframe markup copied from YouTube or Vimeo. Then also add a ratio-16-9 (most common) or ratio-4-3 class to the wrapper depending on the aspect ratio of your video */
  /* More info here: https://codepen.io/profstein/pen/mArLRj */
  .videoWrapper {
      position: relative;
      padding-top: 25px;
      height: 0;
    clear:both;
    outline:1px solid red;
  }
  
  .videoWrapper.ratio-16-9{
      padding-bottom: 56.25%; /* 16:9 */
  }
  
  .videoWrapper.ratio-4-3{
      padding-bottom: 75%; /* 4:3 */
  }
  
  .videoWrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }

  .home-image{
    position: absolute;
  }

  .parallax{
    position:relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.parallax:before{
  content:'';
  position: absolute;
  bottom: 0;
  width:100%;
  height: 100px;
  background: linear-gradient(to top, #0a2a43, transparent);
  z-index: 10000;
}
.parallax:after{
  content:'';
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: #0a2a43;
  z-index: 10000;
}


  .parallax img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
  }


  #text{
    position: relative;
    color: #fff;
    font-size: 10em;
    z-index: 1;
  }